app-header, app-footer {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

app-footer {
    top: 100%;
}

app-loading {
    position: fixed;
    z-index: 1000;
    top: calc(50% - 70px);
    left: calc(75% - 40px);
}

app-loading {
    position: fixed;
    z-index: 1000;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
}