.element {
    max-height: 160px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    font: 70px Helvetica, Arial, Sans-Serif;
    padding-left: 70px;
    padding-top: 20px;
    box-sizing: border-box;
}

.element:hover {
    cursor: url(../../assets/cursor-pointer.png), auto;
}
