.cover {
    width: 100%;
    height: 100%;
}

.info-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.welcome {
    height: 100%;
    width: 100%;
    position: relative;
}

.logo {
    color: white; 
    font: bold 360px Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px red, 
                 2px 2px red, 
                 3px 3px red, 
                 4px 4px red, 
                 5px 5px red, 
                 5px 5px red, 
                 6px 6px red, 
                 7px 7px red, 
                 8px 8px red, 
                 9px 9px red, 
                 10px 10px red,
                 11px 11px red,
                 12px 12px red,
                 13px 13px red,
                 14px 14px red;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    position: absolute;
    font: 70px Helvetica, Arial, Sans-Serif;
    width: 400px;
    top: 50%;
    left: 85%;
    transform: rotate(-90deg);
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}
