<div class="create">
  <div class="form">
    <div class="link">
      <input type="text" placeholder="ADD LINK" [(ngModel)]="link" (ngModelChange)="parseLink()">
    </div>
    <div class="name">
        <input type="text" placeholder="ADD NAME" [(ngModel)]="name" maxlength="32">
      </div>
    <span class="submit" (click)="create()">CREATE</span>
  </div>
  <div class="preview">
      <img class="image" *ngIf="image" [src]="image">
  </div>
</div>

<!-- <div class="browse">
  <div class="form">
        <div class="close" (click)="close()">
          close
        </div>
        <div class="info-box">
            <app-abstract-box>
              <div class="action">
                  <span class="own" (click)="own()">BUY</span>
                </div>
                <div class="price">
                  <div class="eth">{{memePrice}}<span class="currency">Ξ</span></div>
                  <div class="dollar">{{memePriceUSD}}<span class="currency">$</span></div>
                </div>
            </app-abstract-box>
        </div>
  </div>
  <div class="preview">
      <app-abstract-box>
          <img class="image" *ngIf="image" [src]="image" (click)="goToOriginal()">
      </app-abstract-box>
  </div>
</div> -->