<div class="created">
    <div class="form" (mouseover)="hideInfo()">
      <app-list-element
        *ngFor="let memeId of list"
        [memeId]="memeId"
        (memeObj)="onMemeObj($event)"
      ></app-list-element>
    </div>
    <div class="preview" (mouseover)="showInfo()">
        <iframe class="cursor-normal"
        style="height: 100%; width: 100%;"
        [src]="iframeLink ? iframeLink : ''"
        frameborder="0">
      </iframe>
      <!-- <div class="custom-cursor"></div> -->
      <div class="own-wrapper" *ngIf="visibleInfo && memePrice">
          <app-info-box [memePrice]="memePrice" [memePriceUSD]="memePriceUSD"></app-info-box>
        </div>
    </div>
  </div>
